@using SHOPPP_Cherkashneva.Data.ViewModell;
@using SHOPPP_Cherkashneva.Data.Models;
@model VMItems

@{
    Layout = "_Layout";
}
<div>
    <select onchange="SelectCategory(this)">
        <option value="0">Выбрать....</option>
        @{
            foreach(Categorys categorys in Model.Categorys)
            {
                if (categorys.Id == Model.SelectCategory)
                {
                        <option value="@categorys.Id" selected="selected">@categorys.Name</option>
                }
                else
                {
                        <option value="@categorys.Id" >@categorys.Name</option>
                }
            }
         }
    </select>
    <script>
        function SelectCategory(sender){
            window.location = "/Items/List?id=" + sender.value;
        }
    </script>
</div>
<h2>Все предметы</h2>
@{
    foreach (var item in Model.Items)
    {
        if(item.Category.Id== Model.SelectCategory)
        {
            <div class="item">
                <img src="@item.Img" />
                <div class="data">
                    <h3>Модель: @item.Name</h3>
                    <div>Цена: @item.Price</div>
                    <div>Категория: @item.Category.Name</div>
                    <div>Описание: @item.Description</div>
                    <a href="/Items/Update?id=@item.Id" style="text-decoration:none; color:red">Изменить</a>
                    <form class="delete" method="post" action="/Items/Delete" onsubmit="return confirm('Вы уверен что хотите удалить предмет?');">
                        <input type="hidden" name="id" value="@item.Id" />
                        <input type="submit" value="Удалить" />
                    </form>
                </div>
            </div>
        }
    }
}
